# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env

# Java
*.class
*.jar
*.war
*.ear
*.class

# Logs
logs/
*.log

# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db

# IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Build directories
dist/
build/
out/

# Other
*.swp
*.swo
*.sublime-settings
*.tmp
*.bak
*.old
